n8n-workflows/docuseal-simple-automation.json
{
  "name": "DocuSeal Simple Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docuseal-webhook",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "DocuSeal Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "to": "={{ $json.client_email }}",
        "subject": "Document Ready - {{ $json.form_name }}",
        "text": "Hi {{ $json.client_name || 'there' }},\n\nYour document is ready for signature: {{ $json.form_name }}\n\nSign here: {{ $json.document_url }}\n\nExpires: {{ $json.expires_at }}\n\nMessage: {{ $json.message }}\n\nBest regards,\nZelt Digital Platform"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Notification sent\",\n  \"timestamp\": \"{{ $now }}\"\n}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "DocuSeal Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
} 